*.tex text
*.lua text
*.mklx text diff=tex gitlab-language=tex linguist-language=tex
*.mkxl text diff=tex gitlab-language=tex linguist-language=tex
*.lmt  text diff=lua gitlab-language=lua linguist-language=lua
